#overallCheckout{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
#customerInformation{
	margin-left:50px;
	width:500px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
     padding:30px;
	
}
#orderSummary{
	margin-right:60px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding:30px;
}
.container input {
  width: 300px;
  clear: both;
}

