body{
	margin:0;
	font-family:Raleway;
}
#video-bg-elem{
	width:100%;
	height:100%;
}
.background-wrap{
	position: fixed;
	z-index: -1000;
	overflow: hidden;
	
	top:0;
	left:0;
}
.content{
	position:absolute;
	display:flex;
	flex-direction:column;
	align-items:center;
	
		top-margin:180px;
		left:0;
		min-height:100%;
		width: 100%;
		z-index:1;
		background-color:rgba(0,0,0,0.4);
}

#introScreen{
	height: 100vh;
	width: 100%;
}
#aboutUs{
	height: 1500px;
	background:white;
	margin-top:0;
	
}
#aboutUsText{
	background:white;
	margin-left:100px;
	margin-right:100px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
}
#aboutUs h1{
	margin-top:0;
}
#ourDescription{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
#cowText{
	width:400px;
	height:400px;
}
#cowPicture{
	width:400px;
	height:400px;
}

#extraInfoBox{
	background:white;
	
	margin-top:50px;
    align-items: center;
    margin-bottom: 30px;
    width:100%;
    display: flex;
    justify-content: space-around;
}
#extraInfoBox h1{
	padding: 0;
	text-align: center;
}
#milkBasic{
	
	
	background:white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
    height:400px;
    font-weight: 300;
    width: 340px;
	text-align:center;
    margin-top:60px;
    padding-left:4px;
    padding-right:4px;
}
#milkPlus{

	background:white;
	font-weight: 300;
	margin-top:60px;
	text-align:center;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
    height:400px;
    width: 340px;
	 padding-left:4px;
    padding-right:4px;
}
#milkBasic h1{
	text-align: center;
	padding:0;
	margin-top:20px;
}
#milkPlus h1{
	text-align: center;
	padding:0;
	margin-top:20px;
}
#milkPlatinum h1{
	text-align: center;
	padding:0;
	margin-top:20px;
}
#milkPlatinum{

	background:white;
	font-weight: 300;
	margin-top:60px;
	text-align:center;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
    height:400px;
    width: 340px;
  padding-left:4px;
    padding-right:4px;

}
#navBar{
	background-color: #BC986A;
	margin:0; 	
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	z-index:1000;
	align-items:center;
}
#dropDownBox{
	margin-right:110px;
}
#navBar h2{
	display: inline;
	font-family: Raleway;
	color: white;
	padding-top:6px;
	padding-left: 30px;
}
.bar1, .bar2, .bar3{
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2{
	opacity: 0;
}

.change .bar3{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.topMenu{
	display: inline-block;
	margin-right:10px;
}

.dropdownContent{
	display: none;
	z-index:1000;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	margin-right:100px;
	margin-top:98px;
	margin-left:1200px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

.dropdownContent a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.show{
	display: block;
}