#navBar{
	background-color: #ff6600;
	margin:0; 	
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
#dropDownBox{
	margin-right:110px;
}
body{
	margin:0;
}
#navBar h1{
	display: inline;
	font-family: Raleway;
	color: white;
	padding-left: 30px;
}
#customerInfoBox{
	display:flex;
	flex-direction:column;	
}
#textFromGet{
	width: 600px;
}
#getInfo{
	width:100px;
}
#video-bg-elem{
	width:100%;
	height:100%;
}
.background-wrap{
	position: fixed;
	z-index: -1000;
	overflow: hidden;
	top:0;
	left:0;
}
.content{
	position:absolute;
		top:0;
		left:0;
		min-height:100%;
		width: 100%;
		z-index:1000;
		background-color:rgba(0,0,0,0.7);
}
.bar1, .bar2, .bar3{
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2{
	opacity: 0;
}

.change .bar3{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.topMenu{
	display: inline-block;
	margin-right:10px;
}

.dropdownContent{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	margin-right:100px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-indez: 1;
}

.dropdownContent a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.show{
	display: block;
}